.sectionOne {
  background-color: #1f2937;
  border: 1px solid;
  padding: 0 15 0 15;
}

.begin {
    color: white;
    flex-wrap: wrap;
    border: red;
}

#navlinks {
    margin-left: 200px;
}

ul {
    list-style: none;
    display: flex;
}

a {
    color: white;
    text-decoration: none;
}

#HeaderlogoNav {
    border: solid red;
    color: white;
    font-weight: bold;
    display: inline-block;
}

img {
    width: 100px;
    height: 100px;
    border: solid red;
}

#firsthead {
    border: solid red;
    color: white;
}

#ipsum {
    color: white;
    border: solid red;
}

#signupone {
    color: white;
    background-color: blue;
}