body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin-left: 18px;
    background-color: darkblue;
    color: white;
    border: 5px solid darkblue;
    height: 400px;
    flex-wrap: wrap;
}

.one {
    justify-content: center;
    flex-wrap: wrap;
}

img {
    height: 100px;
    width: 100px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    list-style: none;
}