.container-one {
    background-color: #1F2937;
    color: #F9FAF8
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8
}

.header-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

img {
    width: 300px;
    height: 200px;
}




.container-two {
    display: flex;
    justify-content: center;
}

.picture-box {
    width: 80px;
    height: 80px;
    border: 5px solid green;
}




.container-three {

}







.container-four {

}